body,
html {
margin:0;
padding:0;
color:#000;
background:#a7a09a;
}

#wrap {
width:750px;
margin:0 auto;
background:#99c;
}


#header {
background:#ddd;
}
#main {
background:#33CCFF;
float:left;
width:500px;
}
#sidebar {
background:#99FF33;
float:right;
width:250px;
}

#sidebar{
	position:relative;
}

.container{
	margin:10px;
	position:relative;
}

.caption{
	text-align:left;
	font-size:12px;
	margin-top:5px;
	margin-bottom:2px;
}

.left {
    width:180px;
    float: left;
    text-align: left;
	margin-left:40px;
}
.right {
    margin-left: 40px;
    float:left;
	display: inline-block;
}

.field{
    display: inline-block;
	vertical-align:top;
}

.field1{
    display: inline-block;
	height:100%;
	overflow:hidden;
}

.input_correct{
	border: 1px solid;
	border-radius: 5;
	height: 20px;
}

.input_wrong{
	border: 2px solid red;
	border-radius: 5;
	height: 20px;
}

.input_wrong_alert{
	font-size: 12px;
	color: red;
}


input[type=text] {
}

.space{
padding-left:10px;
}

